<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<div class="login-column">

<h2>SU High Impact Experiences Database Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" >Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="button"> 
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            LOGIN
        </button>        
    </div>
    <!-- temporary button to route directly from loginComponent to body
            becasue authentication is unfinished and this won't get deployed soon anyway 4/13/20-->
    <div class="form-group">
        <button [disabled]="loading" class="button"> 
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            dev: skip login
        </button>
    </div>
</form>