<!-- nav, from tutorial
 maybe eventually put this within filterBox? -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <!-- *ngIf="currentUser" means the following only shows if loggedIn-->
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
            
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- TODO
<div class="horizontal-bar"></div> -->


<!-- primitive routing, from alice & hazel -->
<div *ngIf="loggedIn==false">
    <loginComponent></loginComponent>
  </div>

  <div *ngIf="loggedIn==true">
    <app-body></app-body>
  </div>

<!-- i don't know if this does anything or where it came from -alice -->
<router-outlet></router-outlet>